/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep
/tmp
/config/database.yml
/.vagrant/
/public/system
/coverage/
/spec/tmp
**.orig
rerun.txt
config/initializers/secret_token.rb
config/secrets.yml
/vendor/bundle
/docker/.vagrant/*
